EMAIL=your-email@domain.com
password=********
intro_message="I would really love if we could get together, get to know each other, start as friends and see how much further that thing goes. I am looking for someone permanent, loving, someone who will just be mine in this whole world. Drop a message if you are searching for meaningful connection. Looking forward to deep meaningful conversations, a long term relationship. I want to keep that smile on your beautiful face forever!"
